users.db
.ipynb_checkpoints/
__pycache__/
model.keras
dataset/


users.db
.ipynb_checkpoints/
__pycache__/
model.keras
dataset/
carInternalExternal/


users.db
.ipynb_checkpoints/
__pycache__/
model.keras
dataset/
carInternalExternal/


users.db
.ipynb_checkpoints/
__pycache__/
model.keras
CarPartINExmodel.h5
dataset/
carInternalExternal/